rd7_analysis/.nextflow*

# Nextflow working files
work/
.nextflow*

# Conda/Python environments
conda-cache/
**/venv/
**/__pycache__/
*.pyc

# Logs
*.log
benchmarking/guide-assignment/nf-logs
benchmarking/guide-assignment/qsub-logs
benchmarking/guide-assignment/guide-assignment-pipeline/.mpl
benchmarking/guide-assignment/.tmp

# vscode
.vscode/*

# singularity images
*.sif

