rd7_analysis/.nextflow*

# Nextflow working files
work/
.nextflow*

# Conda/Python environments
conda-cache/
**/venv/
**/__pycache__/
*.pyc

# Logs
*.log

# vscode
.vscode/*

# singularity images
*.sif

