rd7_analysis/.nextflow*

# Nextflow working files
work/
.nextflow*

# benchmarking pipeline caches
.jax_cache/
.mplconfig/

# ignore the many benchmarking configs by default
benchmarking/guide-assignment/guide-assignment-pipeline/configs/*_config.csv
benchmarking/association/neg-control-pipeline/configs/
benchmarking/association/pos-control-pipeline/configs/
benchmarking/association/computational-pipeline/configs/

# HPC qsub logs like <name>.o123456 (and array tasks like .o123456.1)
*.o[0-9]*


# Conda/Python environments
conda-cache/
.conda-cache/
**/venv/
**/__pycache__/
*.pyc

# Cloned external repositories
benchmarking/association/external/

# Logs
*.log
benchmarking/guide-assignment/nf-logs
benchmarking/guide-assignment/qsub-logs
benchmarking/guide-assignment/guide-assignment-pipeline/.mpl
benchmarking/guide-assignment/.tmp

benchmarking/association/nf-logs

# vscode
.vscode/*
**/.vscode

# singularity images
*.sif

